*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}
img{
    width: 100%;
}
ul,
li{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

/*********** HEADER **********/


.contenitore-principale-navigazione{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.sezione-navigazione-1{
    display: flex;
    padding: 20px 20px 20px 0px;
    align-items: center;
}

.sezione-navigazione-2{
    display: flex;
    padding: 20px 0px 20px 20px;
    align-items: center;
}

.container-pulsanti-navbar{
    display: flex;
    font-weight: 300;
}

.pulsanti-navbar{
    padding: 5px 15px 5px 15px;
}

.container-pulsanti-navbar > .pulsante-blu{
    background-color: rgba(0,97,255,255);
    color: white;
}



/***********  MAIN HERO ************/

.background-sezione-hero{
    background-color: rgba(180,208,231,255);
    padding-bottom: 30px;
}

.sezione-principale-hero{
    display: flex;
    max-width: 950px;
    margin: 0 auto;

}

.sezione-titolo-hero{
    max-width: 950px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 35px;
}

.contenitore-titolo-hero{
    padding-bottom: 40px;
}

.titolo-hero{
    font-size: 50px;
    font-weight: 800;
}

.contenitore-immagine-testo-hero{
    display: flex;
}

.contenitore-testo-hero{
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    flex-direction: column;
}

.testo-hero{
    display: flex;
    flex-wrap: wrap;
}

.paragrafo-hero{
    font-weight: 300;
}

.bottone-hero {
    margin-top: 25px;
    font-weight: 300;
    padding: 5px 15px 5px 15px;
    background-color: rgba(0,97,255,255);
    color: white;
}

.testo-piccolo-hero{
    margin-top: 25px;
    font-weight: 300;
}

.icona-hero{
    margin-top: 35px;
    font-weight: 800;
    font-size: 40px;
}

.contenitore-immagine-hero{
    display: flex;
    flex-basis: 70%;
}

/********* SEZIONE TITOLO E RADIO BUTTON **********/

.sezione-titolo-radio-business{
    max-width: 850px;
    margin: 0 auto;
}

.titolo-business{
    margin-top: 100px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
}

.radio-button{
    accent-color: blue;
    display: inline-block;
    margin-right: 50px;
}

/********** SEZIONE CARD **********/

.sezione-card-verticali{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-verticale{
    flex-basis: 30%;
    margin-top: 35px;
    border: 1px  solid rgba(208,208,211,255);
    margin-bottom: 40px;
}

.intestazione-card{
    width: 100%;
    border-bottom: 1px  solid rgba(208,208,211,255);
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.corpo-card-verticale{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.titolo-card{
    font-weight: 600;
    font-size: 25px;
    margin: 20px 0px 20px 0px;

}
.prezzo-card{
    margin-bottom: 10px;
    font-weight: 700;
}

.periodo-prezzo-card{
    font-weight: 300;
    margin-bottom: 40px;
    color: rgba(164,172,185,255);
}

.numero-utenze-card > i{
    font-size: 13px;
    margin-bottom: 15px;
}

.spazio-cloud-card > i{
    font-size: 13px;
}

.spazio-cloud-card{
    margin-bottom: 15px;
}

.funzioni-card > i{
    font-size: 13px;
}

.funzioni-card{
    margin-bottom: 30px;
}

.bottone-card {
    background-color: rgba(0,97,255,255);
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-bottom: 25px;
}
.link-acquista-ora{
    color: rgba(127,65,240,255);
    text-decoration: underline;
}