*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 12px;
}

img{
    width: 100%;
}

ul,
li{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}


/*********** HEADER **********/


.contenitore-principale-navigazione{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.sezione-navigazione-1{
    display: flex;
    padding: 20px 0px 20px 20px;
    align-items: center;
}

.logo{
    width: 90px;
}

.sezione-navigazione-2{
    display: flex;
    padding: 20px 20px 20px 0px;
    align-items: center;
}
.container-pulsanti-navbar{
    display: flex;
    font-weight: 300;
}

.pulsanti-navbar > a{
    padding: 5px 15px 5px 15px;
}

.pulsanti-navbar > a{
    color: black;
}

.bottone-blu > a{
    background-color: rgba(0,97,255,255);
    color: white;
}


/***********  MAIN HERO ************/


.background-sezione-hero{
    background-color: rgba(180,208,231,255);
    padding-bottom: 30px;
}

.sezione-principale-hero{
    display: flex;
    max-width: 950px;
    margin: 0 auto;

}

.sezione-titolo-hero{
    max-width: 950px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 35px;
}

.contenitore-titolo-hero{
    padding-bottom: 40px;
}

.titolo-hero{
    font-size: 50px;
    font-weight: 800;
}

.contenitore-immagine-testo-hero{
    display: flex;
}

.contenitore-testo-hero{
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    flex-direction: column;
}

.testo-hero{
    display: flex;
    flex-wrap: wrap;
}

.paragrafo-hero{
    font-weight: 300;
}

.bottone-hero {
    margin-top: 25px;
    font-weight: 300;
    padding: 5px 15px 5px 15px;
    background-color: rgba(0,97,255,255);
    color: white;
}

.testo-piccolo-hero{
    margin-top: 25px;
    font-weight: 300;
}

.icona-hero > i{
    margin-top: 35px;
    font-weight: 800;
    font-size: 40px;
}

.contenitore-immagine-hero{
    display: flex;
    flex-basis: 70%;
}


/********* SEZIONE TITOLO E RADIO BUTTON **********/


.sezione-titolo-radio-business{
    max-width: 850px;
    margin: 0 auto;
}

.titolo-business > h2{
    margin-top: 100px;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 50px;
}

.radio-button{
    accent-color: blue;
    display: inline-block;
    margin-right: 50px;
}


/********** SEZIONE CARD VERTICALE **********/


.sezione-card-verticali{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-verticale{
    flex-basis: 30%;
    margin-top: 35px;
    border: 1px  solid rgba(208,208,211,255);
    height: 800px;
    margin-bottom: 40px;
}

.intestazione-card{
    width: 100%;
    border-bottom: 1px  solid rgba(208,208,211,255);
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.icona-intestazione-card{
    font-size: 13px;
}

.corpo-card-verticale{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.titolo-card{
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px 20px 0px;

}
.prezzo-card{
    margin-bottom: 10px;
    font-weight: 700;
}

.periodo-prezzo-card{
    font-weight: 300;
    margin-bottom: 40px;
    color: rgba(164,172,185,255);
}

.numero-utenze-card > i{
    font-size: 12px;
    margin-bottom: 15px;
}

.spazio-cloud-card > i{
    font-size: 12px;
}

.spazio-cloud-card{
    margin-bottom: 15px;
}

.funzioni-card > i{
    font-size: 12px;
}

.funzioni-card{
    margin-bottom: 30px;
}

.bottone-card {
    background-color: rgba(0,97,255,255);
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-bottom: 25px;
}

.link-acquista-ora{
    color: rgba(127,65,240,255);
    text-decoration: underline;
}

.margine-card{
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.punti-salienti-card{
    font-weight: 700;
    padding-bottom: 20px;
}

.check-testo{
    padding-bottom: 20px;
}

.check-card{
    color: blue;
    font-size: 15px;
    margin-bottom: 20px;
}


/********* SEZIONE CARD ORIZONTALE ************/


.sezione-card-orizontale{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 110px;
}

.card-orizontale{
    border: 1px  solid rgba(208,208,211,255);
    flex-grow: 1;
}

.corpo-card-orizontale{
    margin-left: 20px;
    margin-right: 20px;
}

.superiore-card-orizontale{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.titolo-card-orizontale{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.nome-piano-orizontale{
    font-weight: 600;
    font-size: 20px;
}

.contatto-card-orizontale{
    font-weight: 600;
}

.bottone-contattaci > a{
    padding:  5px 15px 5px 15px;
}

.inferiore-card-orizontale{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 30px;
}

.testo-inferiore-card{
    flex-basis: 70%;
}


/********* SEZIONE PARTNER **********/


.sezione-partner{
    max-width: 850px;
    margin: 0 auto;
}

.container-foto-testo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.sezione-foto-partner{
    flex-basis: 60%;
}

.sezione-titolo-testo-partner{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
}

.titolo-sezione-partner{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.test-sezione-partner{
    margin-bottom: 30px;
}

.bottone-sezione-partner{
    padding: 10px 15px 10px 15px;
    border:  1px  solid black;
    width: fit-content;
}

.bottone-sezione-partner > a{
    color: black;
}