*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 13px;
}

img{
    width: 100%;
}

ul,
li{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}


/*********** HEADER **********/


.contenitore-principale-navigazione{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.sezione-navigazione-1{
    display: flex;
    padding: 20px 0px 20px 20px;
    align-items: center;
}

.logo{
    width: 90px;
}

.sezione-navigazione-2{
    display: flex;
    padding: 20px 20px 20px 0px;
    align-items: center;
}
.container-pulsanti-navbar{
    display: flex;
    font-weight: 300;
}

.pulsanti-navbar > a{
    padding: 5px 15px 5px 15px;
}

.pulsanti-navbar > a{
    color: black;
}

.bottone-blu > a{
    background-color: rgba(0,97,255,255);
    color: white;
}


/***********  MAIN HERO ************/


.background-sezione-hero{
    background-color: rgba(180,208,231,255);
    margin-bottom: -30px;
}

.sezione-principale-hero{
    display: flex;
    max-width: 950px;
    margin: 0 auto;

}

.sezione-titolo-hero{
    max-width: 950px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 35px;
}

.contenitore-titolo-hero{
    padding-bottom: 40px;
}

.titolo-hero{
    font-size: 50px;
    font-weight: 800;
}

.contenitore-immagine-testo-hero{
    display: flex;
    margin-bottom: -65px;
}

.contenitore-testo-hero{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
}

.testo-hero{
    display: flex;
    flex-wrap: wrap;
}

.paragrafo-hero{
    font-weight: 300;
}

.bottone-hero {
    margin-top: 25px;
    font-weight: 300;
    padding: 5px 15px 5px 15px;
    background-color: rgba(0,97,255,255);
    color: white;
}

.bottone-hero > a{
    color: white;
}

.testo-piccolo-hero{
    margin-top: 25px;
    font-weight: 300;
}

.icona-hero > i{
    margin-top: 50px;
    font-weight: 800;
    font-size: 40px;
}

.contenitore-immagine-hero{
    display: flex;
    flex-basis: 70%;
}


/********* SEZIONE TITOLO E RADIO BUTTON **********/


.sezione-titolo-radio-business{
    max-width: 850px;
    margin: 0 auto;
}

.titolo-business > h2{
    margin-top: 150px;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 50px;
}

.radio-button{
    accent-color: blue;
    display: inline-block;
    margin-right: 50px;
}


/********** SEZIONE CARD VERTICALE **********/


.sezione-card-verticali{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-verticale{
    flex-basis: 30%;
    margin: 35px 0px;    
    padding-bottom: 40px;
    border: 1px  solid rgba(208,208,211,255);
}

.intestazione-card{
    width: 100%;
    border-bottom: 1px  solid rgba(208,208,211,255);
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.icona-card{
    font-size: 13px;
}

.icona-card > i{
    margin-right: 3px;
    flex-basis: 15px;
    flex-shrink: 0;
    text-align: center;
}

.corpo-card-verticale{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.card-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-flex > li{
    display: flex;
    gap: 5px;
}

.card-flex > li i{
    flex-basis: 15px;
    padding-top: 3px;
}
.titolo-card{
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0px 20px 0px;

}
.prezzo-card{
    font-weight: 700;
}

.periodo-prezzo-card{
    font-weight: 300;
    color: rgba(164,172,185,255);
}

.numero-utenze-card > i{                            
    font-size: 12px;
    flex-shrink: 0;
    text-align: center;
}

.spazio-cloud-card > i{
    font-size: 12px;
    flex-shrink: 0;
    text-align: center;
}

.funzioni-card > i{
    font-size: 12px;
    flex-shrink: 0;
    text-align: center;
}

.bottone-card {
    display: flex;
    justify-content: center;
    background-color: rgba(0,97,255,255);
    color: white;
    padding: 5px 0px 5px 0px;
}

.link-acquista-ora > a{
    color: rgba(127,65,240,255);
    text-decoration: underline;
}

.punti-salienti-card{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.punti-salienti-card::before{
    content: "";
    display: block;
    height: 1px;
    width: 50px;
    background-color: rgba(208,208,211,255);
    margin-bottom: 35px;
}
.check-card{
    color: blue;
    font-size: 15px;
}


/********* SEZIONE CARD ORIZONTALE ************/


.sezione-card-orizontale{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 110px;
}

.card-orizontale{
    border: 1px  solid rgba(208,208,211,255);
    flex-grow: 1;
}

.corpo-card-orizontale{
    margin-left: 20px;
    margin-right: 20px;
}

.superiore-card-orizontale{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.titolo-card-orizontale{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.nome-piano-orizontale{
    font-weight: 600;
    font-size: 20px;
}

.contatto-card-orizontale{
    font-weight: 600;
}

.bottone-contattaci > a{
    padding:  5px 15px 5px 15px;
}

.inferiore-card-orizontale{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.testo-inferiore-card{
    flex-basis: 70%;
}


/********* SEZIONE PARTNER **********/


.sezione-partner{
    max-width: 850px;
    margin: 0 auto;
}

.container-foto-testo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.sezione-foto-partner{
    flex-basis: 60%;
}

.sezione-titolo-testo-partner{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
}

.titolo-sezione-partner{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.test-sezione-partner{
    margin-bottom: 30px;
}

.bottone-sezione-partner{
    padding: 10px 15px 10px 15px;
    border:  1px  solid black;
    width: fit-content;
}

.bottone-sezione-partner > a{
    color: black;
}


/********* SEZIONE OPERAZIONI BUSINESS *********/


.sezione-business{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.titolo-business-2 > h2{
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 60px;
}

.contenitore-card-business1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contenitore-card-business2{
    display: flex;
    justify-content: space-between;
}

.card-business{
    flex-basis: 31%;
}

.card-business > img{
    max-width: 250px;
}

.titolo-testo-business{
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 20px;
}

.titolo-business-3 > h2{
    font-weight: 700;
    font-size: 27px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.link-business > a{
    color: rgba(68,17,241,255);
    text-decoration: underline;
    font-weight: 400;
}


/*********** SEZIONE CLIENTI ***********/


.sezione-clienti{
    max-width: 100%;
}

.container-loghi-clienti{
    display: flex;
}

.insieme-loghi{
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.logo-cliente{
    aspect-ratio: 1;
}

.logo-cliente > img{
    width: calc(100% / 2);
    filter: invert(100);
}
.logo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 13px solid rgba(209,233,205,255);
    background-color: rgba(162,211,155,255);
    width: calc(100% / 2);
}

.logo-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97,8,43,255);
    width: calc(100% / 2);
}

.logo-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,147,206,255);
    width: calc(100% / 2);
}

.logo-4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,28,28,255);
    width: calc(100% / 2);
}

.logo-testo-centrale{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(245,245,245,255);
}

.logo-testo-centrale > img{
    width: calc(100% / 2);
}

.logo-centrale{
    width: calc(100% / 2);
    margin: 30px 30px 0px 30px;
}

.bordo-centrale{
    color: rgba(208,208,211,255);
    margin-left: 30px;
    margin-top: 30px;
    width: 100px;
}

.testo-logo-cliente {
    margin: 30px 30px 0px 30px;
}

.logo-6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(213,0,31,255);
    width: calc(100% / 2);
}

.logo-7{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(180,208,231,255);
    width: calc(100% / 2);
}

.logo-8{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13,36,129,255);
    width: calc(100% / 2);
}

.logo-9{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,216,48,255);
    width: calc(100% / 2);
}


/************ SEZIONE AZIENDA *************/


.sezione-azienda{
    background-color: rgba(180,208,231,255);
}

.container-azienda{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    padding: 100px 0px 100px 0px;
}

.container-testo-azienda{
    flex-basis: 50%;
}

.container-testo-azienda > h2{
    font-weight: 700;
    font-size: 27px;
}

.container-bottone-azienda{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.bottone-azienda{
    color: black;
    font-weight: 300;
    padding: 8px 40px 8px 40px;
    background-color: white;
    height: fit-content;
}


/*********** SEZIONE DOMANDE **********/


.sezione-domande{
    max-width: 850px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 100px;
}

.contenitore-principale-domande{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.titolo-domande > h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.contenitore-domande-tendine{
    display: flex;
    flex-wrap: wrap;
}

.contenitore-domande-tendina{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.domanda-tendina{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 45px 30px 0px;
    border-top: 1px solid rgba(208,208,211,255);
}

.domande{
    font-weight: 600;
}

.menu-tendina > a > i{
    color: black;
    font-weight: 600;
    font-size: 11px;
}

.contenitore-domande-tendina:last-child{
    border-bottom: 1px solid rgba(208,208,211,255);
}


/********** SEZIONE FOOTER ************/


footer{
    background-color: black;
}

.sezione-footer{
    max-width: 950px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.contenitore-liste-footer{
    display: flex;
    justify-content: space-between;
}

.titolo-lista-footer{
    margin-bottom: 20px;
}

.titolo-lista-footer > a{
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.elemento-lista > a{
    color: white;
    line-height: 30px;
}

.contenitore-lingua{
    display: flex;
    flex-direction: column;
}

.contenitore-lingua::before{
    content: "";
    display: block;
    height: 1px;
    width: 90px;
    background-color: rgba(208,208,211,255);
    margin-top: 40px;
}

.lingua{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(164,172,185,255);
    gap: 10px;
    margin-top: 30px;
}

.lingua > span > i{
    font-size: 11px;
    margin-left: 2px;
    margin-top: 1px;
}